<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profis + Fácil</title>
  </head>
  <body>
    <h1>Bem-Vindo ao Profis + Fácil</h1>
    <ul>
      {% for profissional in profissionais %}
      <li>
        <a href="{{ url_for('profissional', id=profissional.id) }}"
          >{{ profissional.nome }}</a
        >
        - {{ profissional.categoria }} - R${{ profissional.preco_medio }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
